/static/css/themes/black/images/
/static/css/themes/bootstrap/images/
/static/css/themes/default/images/
/static/css/themes/gray/images/
/static/css/themes/material/images/
/static/css/themes/material-blue/images/
/static/css/themes/material-teal/images/
/static/css/themes/metro/images/
/static/css/themes/icons/

